html {
  font-size: 14px;
}

div {}

<<<<<<< HEAD
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  svg {
    max-width: 120px;
  }
}

@media (max-width: 768px) {

  .imgApp {
    max-width: 230px;
  }

  svg {
    max-width: 80px;
  }


}

=======
>>>>>>> 9af4716b098268443c2c83f8210dc2b99751a5e3
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.boxAvatar {
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 5px #333;
}

<<<<<<< HEAD
.avatarcasal {
  width: 250px;
}

.boxContainerApps {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
=======
.boxContainerApps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
>>>>>>> 9af4716b098268443c2c83f8210dc2b99751a5e3

}

.card {
<<<<<<< HEAD
  min-width: 220px;
  max-width: 500px;
  border-color: #05222b;
}

.svg {
  max-width: "150px";
  max-height: "150px";
}

.cardlistaPresentes {
  background-color: whitesmoke;
  width: 18rem;

}

.card-img-top {
  padding: 5px;
  max-width: 512px;
  max-height: 200px;
}

.boxpresentes {
  justify-content: space-evenly;
  border-radius: 15px;
  ;
}
=======
  min-width: 300px;
  max-width: 400px;
  border-color: #05222b;
}

.svg {
  max-width: "150px";
  max-height: "150px";
}


@media (min-width: 769px) {
  html {
    font-size: 16px;
  }

  svg {
    max-width: 120px;
  }
}

@media (max-width: 768px) {

  .imgApp {
    max-width: 230px;
  display: none;}

  svg {
    max-width:  80px;
  }

  .card{    
    min-width: auto;
    max-width: auto;      
  }
}
>>>>>>> 9af4716b098268443c2c83f8210dc2b99751a5e3
